# macOS

## Ignore .DS_Store files in the repository and its subdirectories
**/.DS_Store

# Xcode

## User settings
**/xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace
